/*TOBOR CSS*/
#heading { /* TOBOR name on image */
	text-align: left;
	color: white;
	font-size: 1.5em;
	font-family: sans-serif;
}

html, body {
	height: 100%;
	background-color: gray;
	background-image:url('images/toborWatermark.png');
	background-repeat: no-repeat;
}

.inactive {
	display: none;
}


h2 {
	font-family: sans-serif;
}

h3, h4 {
	font-family: sans-serif;
}

.btn {
	/*font-family "dot matrix"*/
	
	font-size: 1.5em;
	border-radius: 10px;
	color: white;
	background-color: black;
	border-left: 2px solid #ccc;
	border-top: 2px solid #ccc;
}

#stop {
	color: red;
}

#menu {
	border: solid;
	background-color: green;
	font-size: 1.5em;
}

#save {
	color: yellow;
}




