/*TOBOR CSS*/
#heading { /* TOBOR name above image */
	text-align: center;
	color: white;
	font-size: 1.5em;
	font-family: sans-serif;
}

html, body {
	height: 100%;
	background-color: gray;
	/*background-image:url('images/toborWatermark.png');*/
	/*background-repeat: no-repeat;*/
}

.ff_border {
	border: solid black;
	display: inline-block;
	padding-bottom: 3px;
}

.inactive {
	border: solid black;
	display: none;
}

.active {
	border: solid black;
	padding-top: 2px;
	display: inline-block;
}

h2, h3, h4 {
	font-family: sans-serif;
}

#rdy h3 {
	font-size: 2em;
}

.btn {
	/*font-family "dot matrix"*/
	
	font-size: 1.5em;
	border-radius: 10px;
	color: white;
	background-color: black;
	border-left: 2px solid #ccc;
	border-top: 2px solid #ccc;
}

#stop {
	color: red;
}

#menu1 {
	border: solid;
	background-color: green;
	font-size: 1.5em;
}

#menu2 {
	border: solid;
	background-color: green;
	font-size: 1.5em;
}

#save {
	color: yellow;
}

/*button #select {
	padding-left: 20px;
}*/




